#intro{
    width: 80%;
    margin: auto;
}
#intro>h1{
    text-align: center;
}
#intro>p{
    text-align: center;
    color: rgb(36, 35, 35);
   
}
#sort{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(247, 237, 224);
    position: sticky;
    top: 0%;
    background-color: rgb(236, 236, 236);
}
.sort{
    height: 40px;
    font-size: 15px;
    color: rgb(86, 88, 88);
    border:1px solid gray;
    border: none;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    background-color: rgb(236, 236, 236);
}
.sort:hover{
    color: rgb(25, 0, 255);
}

#container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
    padding-top: 60px;
}
#container>div{
    border: 1px solid blue;
    height: 300px;
}

/* medium size */
@media all and (min-width:400px)and (max-width:800px){
    #sort{
        grid-template-columns: repeat(3,1fr);
    }
    #container{
        grid-template-columns: repeat(3,1fr);
    }
    .sort:nth-child(7),.sort:nth-child(8){
        display: none;
    }
}

/* small size */
@media all and (min-width:300px)and (max-width:400px){
    #sort{
        grid-template-columns: repeat(2,1fr);
    }
    .sort:nth-child(3),.sort:nth-child(4),.sort:nth-child(5),.sort:nth-child(6),.sort:nth-child(7),.sort:nth-child(8){
        display: none;
    }
    #container{
        grid-template-columns: repeat(2,1fr);
    }
}