<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="footee.css">
    <script src="https://kit.fontawesome.com/47b8d53052.js" crossorigin="anonymous"></script>
</head>

<body>
    <div>
        <div id="foot3">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-square-snapchat"></i>
           <p>|</p>
            <i class="fa-brands fa-cc-visa"></i>
            <i class="fa-brands fa-cc-mastercard"></i>
            <i class="fa-brands fa-cc-paypal"></i>
            <i class="fa-brands fa-cc-amex"></i>
            <i class="fa-brands fa-cc-visa"></i>

        </div>
        <div style="background-color: #eeeeee;">
            <div id="foot1">
                <div>
                    <ul class="head1">HELP & INFORMATION</ul>
                    <ul>Help</ul>
                    <ul>Track order</ul>
                    <ul>Delivery & returns</ul>
                    <ul>Sitemap</ul>
                </div>

                <div>
                    <ul class="head1">ABOUT ASOS</ul>
                    <ul>About us</ul>
                    <ul>Carrers at ASOS</ul>
                    <ul>Corporate responsibility</ul>
                    <ul>Investor's site</ul>
                </div>

                <div>
                    <ul class="head1">MORE FROM ASOS</ul>
                    <ul>Mobile and ASOS apps</ul>
                    <ul>ASOS Marketplace</ul>
                    <ul>Gift vouchers</ul>
                    <ul>Black Friday</ul>
                    <ul>ASOS x Thrift+</ul>
                </div>

                <div>
                    <ul class="head1"> SHOPPING FROM :</ul>
                    <div id="hea1">
                        <p>You're in </p>
                        <img style=" height: 20px;" src="https://assets.asosservices.com/storesa/images/flags/in.png"
                            alt="">
                        <p><b>| CHANGE</b> </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div style="background-color:#dddddd ;">
        <div id="foot2">
            <div>
                <p>© 2022 ASOS</p>
            </div>
            <div style="display:flex; column-gap: 10px;">
                <P>Privacy & Cookies |</P>
                <p>Ts&Cs |</p>
                <p>Accessibility</p>

            </div>

        </div>
    </div>
    </div>

</body>

</html>