#nv1 {
    height: 25px;
    display: flex;
    flex-direction: row-reverse;
}

#nv1>button>img {
    width: 24%;
}

#nv2 {
    background-color: #2d2d2d;
    height: 60px;
    display: flex;
    column-gap: 40px;
    justify-content: center;
    align-items: center;


}

#nv2_1 {

    display: flex;
    column-gap: 30px;
    color: white;
    align-items: center;
    font-family: sans-serif;
}


#nv2_inp {
    width: 50%;
    height: 35px;
    border-radius: 30px;
    font-size: 17px;
    border: 0px;

}

#nv2_1>img {
    width: 40%;
    height: 35px;

}

#nv2_2 {
    color: white;
    display: flex;
    align-items: center;
    column-gap: 30px;
    font-size: 20px;

}

#nv3 {
    background-color: #525050;
    display: flex;
    align-items: center;
    height: 45px;
    color: white;
    font-size: 13px;
    font-family: sans-serif
}

#nv3>div {
    width: 78%;
    margin: auto;
    display: flex;
    column-gap: 15px;
}

#nv4 {
    background-color: #ff385c;
    height: 55px;
}

#nv4>div {
    width: 78%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 15px;
    font-weight: bold;
    font-family: sans-serif
}

#nv4>div button {
    width: 70px;
    height: 30px;
    background-color: #ff385c;
    border: 2px solid black;
    font-weight: bold;

}