        *{
            font-family:Arial, Helvetica, sans-serif;
            box-sizing: border-box;
            letter-spacing: 2px;
            font-size: 14px;
        }
        body {
            background-color: #eee;
        }
        #box {
            width: 45%;
            height: auto;
            border: 1px solid white;
            margin: auto;
            margin-top: 2%;
            background-color: white;
            box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

        }
        form{
            margin-top: 0   ;
        }
        #image{
            width: fit-content;
            margin: 2% auto auto auto;
        }
        #image:hover{
            cursor: pointer;
        }
        #email,
        #password,
        #first_name,
        #last_name,
        #button>button {
            width: 95%;
            height: 45px;
            padding: 10px;
            font-weight: 700;
            font-size: 14px;
        }

        #box2 {
            margin: auto;
            width: 50%;
            margin-top: 6%;
        }

        #button {
            margin-top: 40px;
            margin-bottom: 60px;
        }

        #button>button {
            color: white;
            background-color: black;
        }

        #sign_inclick,#join_click {
            color: rgb(123, 120, 120);
            cursor: pointer;
            
        }
        h4{
            color: rgb(123, 120, 120);
        }
        #join {
            display: flex;
            border: 0px solid red;
            justify-content: space-evenly;
        }
        #sign_inclick:hover{
            color: black;
          text-decoration: underline;
          animation-direction: alternate-reverse;
             
        }
        #join_click:hover{
            color: black;
          text-decoration: underline;
        }

        @media only screen and (max-width: 730px){
            #box {
                width:80%;
            }
        }
        @media (min-width: 731px) and (max-width: 950px){
            #box {
                width:65%;
            }
        }
        @media (min-width: 951px) and (max-width: 1150px){
            #box {
                width:55%;
            }
        }