*{
    font-family:Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    letter-spacing: 2px;
    font-size: 14px;
}
body {
    background-color: #eee;
}
#box {
    width: 45%;
    height: auto;
    border: 1px solid white;
    margin: auto;
    margin-top: 2%;
    background-color: white;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

#image{
    width: fit-content;
    margin: 2% auto auto auto;
}
#image:hover{
    cursor: pointer;
}
#email,
#password,
#button>button {
    width: 95%;
    height: 45px;
    padding: 10px;
    font-weight: 700;
    font-size: 14px;
} 
#box2{
    margin: auto;
    width: 50%;
    margin-top: 6%;
}
#button{
    margin-top: 45px;
}

#button>button{
    color: white;
    background-color: black;
    margin-bottom: 100px;
}
h4{
    color: grey;
}
#join{
    display: flex;
    border: 0px solid red;
    justify-content: space-evenly;
    
}
#join_click:hover{
    color: black;
    text-decoration: underline;
    animation-direction: alternate-reverse;
}
#join_click,#sign_inclick{
    color: grey;
    cursor: pointer;   
}
#sign_inclick:hover{
    color: black;
    text-decoration: underline;
}
@media only screen and (max-width: 730px){
    #box {
        width:75%;
    }
}
@media (min-width: 731px) and (max-width: 950px){
    #box {
        width:60%;
    }
}
@media (min-width: 951px) and (max-width: 1150px){
    #box {
        width:50%;
    }
}